	@import url(https://fonts.googleapis.com/css?family=Montserrat);

body, html {
  font-family: 'Montserrat'; 
  font-size: 26px; 
   
 
}

.paintBucket {
  width: 206px; 
  height: 220px; 
  background-color: #E9E8E6; 
  margin: 30px auto; 
}

.paintBucketLeft, .paintBucketRight {
  width: 68px; 
  height: 220px; 
  position: absolute; 
}

.paintBucketLeft {
  background-color: #F5F5F5; 
}

.paintBucketRight {
  background-color: #DAD6D5; 
  margin-left: 138px; 
}

.middle {
  width: 206px; 
  height: 160px; 
  background-color: #2FA380; 
  position: absolute; 
  z-index: 100; 
  margin-top: 31px; 
}

.middleLeft, .middleRight {
  width: 68px; 
  height: 160px; 
  position: absolute; 
}

.middleLeft {
  background-color: #71C297; 
}

.middleRight {
  background-color: #218062; 
  margin-left: 138px; 
}

.bigArrow, .smallArrow {
  width: 0px; 
  height: 0px; 
  background-color: transparent; 
  border: 60px solid transparent; 
  border-left: 100px solid #FFE071; 
  position: absolute; 
  z-index: 101; 
  margin-top: 20px; 
}

.smallArrow {
  border: 19px solid transparent; 
  border-left: 31px solid #F2C242; 
  margin-left: -32px; 
  margin-top: -19px; 
}

.bottom {
  width: 221px; 
  height: 10px; 
  background-color: #E9E8E6; 
  border-radius: 25px; 
  margin-top: 220px; 
  margin-left: -8px; 
  position: absolute; 
}

.lid {
  width: 221px; 
  height: 10px; 
  background-color: #E9E8E6; 
  border-radius: 25px; 
  margin-top: -10px; 
  margin-left: -8px; 
  position: absolute; 
}

.shadow {
  width: 206px; 
  height: 10px; 
  background-color: rgba(0, 0, 0, 0.2); 
  margin-top: 10px; 
  margin-left: 8px; 
  position: absolute; 
}

.paint {
  width: 45px; 
  height: 10px; 
  background-color: #5461f2; 
  border-radius: 0px 35px 35px 0px; 
  margin-left: 160px; 
  position: absolute; 
}

.paintHelp {
  width: 10px; 
  height: 10px; 
  background-color: #e5e6e8; 
  border-radius: 35px; 
  margin-left: 155px; 
  z-index: 1002; 
  position: absolute; 
}

.paintSetUp {
  width: 40px; 
  height: 10px; 
  background-color: #3a5ad8; 
  margin-top: 10px; 
  margin-left: 1px; 
  position: absolute; 
}

.paintDripLeft {
  width: 10px; 
  height: 30px; 
  background-color: #547ef2; 
  margin-top: 10px; 
  z-index: 1000; 
  position: absolute; 
  border-bottom-left-radius: 50px; 
}

.paintDripLong {
  width: 10px; 
  height: 80px; 
  background-color: #5474f2; 
  margin-top: 10px; 
  margin-left: 10px; 
  z-index: 1000; 
  position: absolute; 
  border-radius: 0px 0px 50px 50px; 
}

.paintDrip {
  width: 10px; 
  height: 35px; 
  background-color: #546ff2; 
  margin-top: 10px; 
  margin-left: 20px; 
  z-index: 1000; 
  position: absolute; 
}

.paintDripInset {
  width: 10px; 
  height: 10px; 
  border-radius: 100%; 
  background-color: #218062; 
  margin-top: 30px; 
}

.paintDripConnect {
  width: 10px; 
  height: 50px; 
  background-color: #546ff2; 
  margin-top: 10px; 
  margin-left: 30px; 
  z-index: 1000; 
  position: absolute; 
  border-radius: 0px 0px 50px 50px; 
}

.handle {
  width: 130px; 
  height: 115px; 
  background-color: transparent; 
  border-radius: 0px 0px 150px 150px; 
  border: 6px solid #D8D7D3; 
  border-top: 0px solid transparent; 
  margin-left: 13px; 
  position: absolute; 
  z-index: 10000; 
  box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25); 
}
